<?xml version="1.0" encoding="utf-8"?>
<!-- I love myself. Don't you? -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<fourth driverType="Chrome" serverUrl="" xdt:Transform="Replace">
		<capabilities>
			<add key="--kiosk" />
		</capabilities>
	</fourth>
</configuration>